.upper_part{
    background-color: #3a3a3a;
    display: grid;
    justify-content: center;
    align-items: center;


}
.content1 {
    max-width: 500px;
    width: 100%;
    margin: 20px 0;
    background-color:#3a3a3a;
    color: white;
    margin-right: 250px;

}

h1 {
    margin-bottom: 0;
}
.rating {
    color: #ffd700;
    font-size: 24px;
    margin: 10px 0;
}
.description {
    text-align: justify;
    line-height: 1.6;
}
.sub_topic_box{
    display: grid;
    justify-content: center;
    align-items: center;

}
.sub-topics {
    background-color: var(--bg_default);
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    color: var(--body-text);
    margin: 20px 0;
    margin-right: 250px;
    
}
.sub-topics h2 {
    padding-left: 20px;
}
.sub-topics ul {
    list-style-type: none;
    padding-left: 20px;
}
.sub-topics li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.sub-topics li:last-child {
    border-bottom: none;
}
.sub-topics li::before {
    content: "✓";
    color: #4CAF50;
    margin-right: 10px;
}
.sidebar {
    position: relative;
    z-index: 2;
    width: 100%;
    
    margin-left: 700px;
    margin-top: -300px;
    
}
.card1 {
    max-width: 250px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.card-header img {
    width: 100%;
    height: auto;
}
.card-body {
    padding: 15px;
}
.fav_box{
    border-radius: 5px;
    border: 2px solid var(--lines-color);
    padding: 15px;
}
.card_footer{
    display: grid;
    justify-content: center;
   padding: 7px;
}
.card-body p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.card-body .author {
    font-weight: bold;
}
.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
}