body {
  font-family: 'Nunito Sans';
  margin: 0;
  padding: 0;
  background-color: var(--bg_body);
  padding: 0;
  font-size: .9em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;  /* Single column layout */
  grid-template-rows: auto 1fr; /* Flexible middle area for content */
  grid-template-areas: 
    "hd" 
    "main" 
    ; /* Define grid areas */
  min-height: 100vh; /* Ensure the container takes up full viewport height */
}


.content {
  grid-area: main;
  
}

        /* Container for the search bar and dropdowns */
        .search-container {
          display: grid;
          grid-template-columns: 70% 12.5% 12.5%;
          margin-bottom: 20px;
          border-radius: 50px;
          border-radius: 5px;
          justify-content: center;
          padding-bottom: 20px;
          margin-top: 20px;

      }

      /* Style for search bar */
      .search-bar {
          width: 100%;
          padding: 10px;
          font-size: 1em;
          border: 1px solid var(--lines-color);
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          background-color: var(--bg_default);

      }

      /* Style for dropdown menus */
      .dropdown1 {
          width: 100%;
          padding: 10px;
          font-size: 1em;
          border: 1px solid var(--lines-color);
          background-color: var(--bg_default);
          color: var(--body-text);
          
      }
      .dropdown2 {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border-color: var(--lines-color);
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid var(--lines-color);
        background-color: var(--bg_default);
        color: var(--body-text);
    }


      /* Make the layout responsive for small screens */
      @media (max-width: 768px) {
          .search-container {
              grid-template-columns: 1fr;
          }

          .dropdown {
              margin-top: 10px;
          }
      }



.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}



/* Card Styles */
.card {
  max-width: 230px;
  width: 100%;
  margin: auto;
  background-color: var(--bg_default);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
  text-decoration: none; /* Keep no underline on hover */
  color: var(--body-text);
}

.card:hover {
  transform: scale(1.05);
  text-decoration: none; /* Keep no underline on hover */
  color: inherit; /* Ensure color doesn't change */
}
.cards .card a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Keep the same text color as the parent element */
}

/* Optional: Add hover effect for better user experience */
.cards .card a:hover {
  text-decoration: none; /* Keep no underline on hover */
  color: inherit; /* Ensure color doesn't change */
}

.card-image {
  width: 100%;
  height: 150px; /* Set a fixed height for the image container */
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.card-content {
  padding-left: 5px;
}

.card-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0;
}

.card-description {
  font-size: 1em;
  color: var(--body-text);
  margin-bottom: 0;
}

.stars {
  font-size: 1.2em;
  color: gold;
  margin-bottom: 10px;
}

.card-author {
  font-size: 0.9em;
  color: var(--body-text);
}
